*{
    box-sizing: border-box;
}
body{
    background-image: url("./kepek/hatter.jpg");
    font-family: Arial, Verdana, sans-serif;
}
main, header, footer{
    border:1px solid rgba(110, 110, 110, 0.315);
    padding: 0px;
}
main{
    max-width: 1400px;
    background-color: black;
    color: white;
    margin: auto;
    display: grid;
    grid-template-areas:    "h h h"
                            "n a as"
                            "f f f";
}
header{
    display: grid;
    grid-area: h;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
nav{
    display: grid;
    grid-area: n;
    height: 250px;
    margin: 10px;
}
nav ul{
    list-style-type: none;
    padding: 2px; 

}
nav ul li{
    padding: 5px;
}
 nav li a{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: red;
    background-color: rgb(3, 141, 253);
    border-radius: 35px;
    padding: 4px;
}
nav li a:hover{
    color: white;
}
article{
    display: grid;
    grid-area: a;
    padding: 8px;
}
h1{
    text-align: center;
}
p{
    margin: 7px;
}
aside{
    display: grid;
    grid-area: as;
    padding: 8px;
}
footer{
    display: grid;
    grid-area: f;
    text-align: center;
    font-size: 15px;
}
img{
    max-width: 100%;
    float: left;
    border: 1px solid black;
}
@media screen and (max-width: 1000px) {
    main{
        grid-template-areas:    "h h h"
                                "a as n"
                                "f f f";
    }
  }
@media screen and (max-width: 700px) {
    main{
        grid-template-areas:    "h"
                                "n"
                                "a"
                                "as"
                                "f";
    }
    nav{
        width: 100%;
        height: auto;
        margin: 0;
    
      }
      nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
  }

